body {
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 100px;
}

thead {
    text-align: center
}

hr {
    border: 1px solid black;
    width: 90%;
}

.main-table, .match-info-table {
    border: 2px solid black;
    width: 90%;
    visibility: visible;
    background-color: #e6e6e6;
}

.match-info-table tr td {
    white-space: nowrap;
    text-align: left;
}

.div-panel-hide {
    display: none;
}

.div-panel-show {
    display: inline;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.div-panel-call-status {
    display: inline;
    position: absolute;
    top: 200px;
    left: 30%;
    width: 40%;
    height: 30%;
    z-index: 1;
}

.div-panel-roster {
    display: block;
    position: relative;
    width: 60%;
    height: 40%;
}

.call-status {
    background-color: lightyellow;
    opacity: 0.98;
}

.table-striped tbody > tr:nth-child(odd) {
    background-color: #BDC3C7;
}

.table-striped tbody > tr:nth-child(even) {
    background-color: #D6DBDF;
}

.table-bordered tr td {
    border: 2px solid black;
}

.hidden-control {
    display: none;
}

.tennis-tabs {
    padding: 0px;
    margin: 0px;
    width: 70%;
    align: center;

}

.ui-tabs, .ui-tabs-panel, .ui-tabs-nav {
    background: #6c9dc6;
}

.table-compact tr td {
    padding: 0px;
    margin: 0px;
    background-color: #efefef;
}

.points {
    text-align: center;
}

.panel-heading {
    font-weight: bold;
    font-size: 30pt;
}

.schedule, .roster {
    margin: auto;
    width: 70%;
    visibility: hidden;
}

.team-schedule {
    margin: auto;
    width: 40%;
}

.roster {
    visibility: visible;
}

.login-form {
    width: 30%;
    outline-style: inset;
    border: 1px;
}

.login-form tr td, .roster-form tr td {
    border-top: none;
    border-bottom: none;
    border: none;
}

.form-error {
    color: red;
}

.schedule-selected-team {
    font-weight: bold;
    color: #006400;
}

.admin-form, .roster-form, .match-form {
    visibility: visible;
    color: #2B4408;
    width: 50%;
}

.availability-panel {
    width: 60%;
}

.lineup-panel {
    width: 55%;
}

.email-avail-panel {
    width: 45%;
}

.error {
    color: red;
    font-style: italic;
    margin-left: 10px;
    #display: block;
}

.bold-text {
    font-weight: bold;
}

.success {
    color: green;
    font-style: italic;
    margin-left: 10px;
    display: block;
}

#sr-details-body td:hover, .avail-cursor {
    cursor: pointer;
}

.player-avail {
    color: #006400;
    font-weight: bold;
}

.player-inactive {
    color: #fa8072;
}

.form-info {
    color: #919191;
    font-weight: bold;
}

